<p-card class="col-12">
    <p class="font-bold pb-3"> PHINA </p>

    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">Certification</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Total Area PHINA (ha)</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Achurado (ha)</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Expropriated Area (ha)</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <div class="flex justify-content-between align-content-center flex-wrap document">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-spinner-dotted pi-spin green"></i>
                    <i class="pi pi-check-circle green"></i>
                    <a href="">Document PHINA</a>
                </div>
                <div>
                    <p-button icon="pi pi-upload" [rounded]="true" severity="secondary" variant="text"
                        pTooltip="Upload document" />
                    <p-button icon="pi pi-trash" [rounded]="true" severity="secondary" variant="text"
                        pTooltip="Delete document" />
                </div>
            </div>
        </div>
    </div>
</p-card>

<p-card class="col-12">
    <p class="font-bold pb-3"> RAN perimetrales </p>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Total perimeter area of the RAN (ha)</label>
            </p-floatlabel>
        </div>
    </div>
</p-card>

<p-card class="col-12">
    <p class="font-bold pb-3"> Plano interno </p>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">RAN application</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Internal flat surface</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Expropriated areas (ha)</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Plan year</label>
            </p-floatlabel>
        </div>

        <div class="col-12 md:col-4">
            <div class="flex justify-content-between align-content-center flex-wrap document">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-spinner-dotted pi-spin green"></i>
                    <i class="pi pi-check-circle green"></i>
                    <a href="">Document Internal flat </a>
                </div>
                <div>
                    <p-button icon="pi pi-upload" [rounded]="true" severity="secondary" variant="text"
                        pTooltip="Upload document" />
                    <p-button icon="pi pi-trash" [rounded]="true" severity="secondary" variant="text"
                        pTooltip="Delete document" />
                </div>
            </div>
        </div>
    </div>
</p-card>

<p-card class="col-12">
    <p class="font-bold pb-3">Validacion </p>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">AP por SIG</label>
            </p-floatlabel>
        </div>

        <div class="col-12 md:col-4">
            <div class="flex justify-content-between align-content-center flex-wrap document">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-spinner-dotted pi-spin green"></i>
                    <i class="pi pi-check-circle green"></i>
                    <a href="">Document AP</a>
                </div>
                <div>
                    <p-button icon="pi pi-upload" [rounded]="true" severity="secondary" variant="text"
                        pTooltip="Upload document" />
                    <p-button icon="pi pi-trash" [rounded]="true" severity="secondary" variant="text"
                        pTooltip="Delete document" />
                </div>
            </div>
        </div>

        <div class="col-12 md:col-12">
            <p-floatlabel>
                <textarea pTextarea id="over_label" rows="3" class="w-full"></textarea>
                <label for="over_label">Observaciones AP</label>
            </p-floatlabel>
        </div>
    </div>
</p-card>

<div class="flex justify-content-center flex-wrap">
    <div class="col-3">
        <p-button styleClass="w-full" class="col-4" label="Save" [rounded]="true" />
    </div>
</div>