<div class="grid">
    <p-card class="col-4">
        <p class="font-bold pb-3">Buyer Approvals</p>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">ERPA Signed by Buyer</label>
            </p-floatlabel>
        </div>
    </p-card>
    <p-card class="col-4">
        <p class="font-bold pb-3">Project Counterpart Approvals</p>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">ERPA Signed by Project Counterpart</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">Project Developer Contract Sined by Project Counterpart</label>
            </p-floatlabel>
        </div>
 
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">Aggregation Approval  Signed by Project Counterpart</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">Authority Designation Format Signed</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">Terms of Use Signed by Project Counterpart</label>
            </p-floatlabel>
        </div>
    </p-card>

        <p-card class="col-4">
        <p class="font-bold pb-3">Canopia Approvals</p>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">Project Developer Contract Signed by Canopia</label>
            </p-floatlabel>
        </div>
    </p-card>
</div>