<p-card class="col-12">
    <p class="font-bold pb-3">DD Team</p>

    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">Origination lead</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">Origination Promoter</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">SME Development & Implementation</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">SME Legal</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
          <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">SME Safeguards</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
          <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">SME MRV</label>
            </p-floatlabel>
        </div>
    </div>
</p-card>

<div class="flex justify-content-center flex-wrap">
    <div class="col-3">
        <p-button styleClass="w-full" class="col-4" label="Save" [rounded]="true" />
    </div>
</div>