.fondo{
 border-bottom: 1px solid #dee2e6;
}

.avatar{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border: 1px solid #811515;
}

.venta{
    color: #747474;
}