<div class="grid">
    <div class="col-12">
        <small>Listing</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Proyect Enlist Format Submitted</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Project Listed by CAR</label>
        </p-floatlabel>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <small>Baseline</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">PST Training Done</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Inventory Started</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Inventory Finished</label>
        </p-floatlabel>
    </div>
</div>

<div class="grid">
    <div class="col-12 md:col-4">
        <small>Strategic Planning</small>
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Carbon Program Management Plan</label>
        </p-floatlabel>
         <small class="username-help" id="username-help"> (CPMP) Started.</small>
    </div>
    <div class="col-12 md:col-4">
        <small>Annual Planning</small>
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Final Annual Project </label>
        </p-floatlabel>
        <small class="username-help" id="username-help">Plan Approved Off by Technical Director.</small>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <small>Execution & Monitoring</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Project Actvity Started</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Project Actvities Finished</label>
        </p-floatlabel>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <small>Review</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Final Annual Activity & Financial </label>
        </p-floatlabel>
        <small class="username-help" id="username-help">Project Report Approved by Technical Director & Finance Manager.</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Annual Activity & Financial </label>
        </p-floatlabel>
                <small class="username-help" id="username-help">Project Report Communicated to ME.</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Annual Activity & Financial </label>
        </p-floatlabel>
                <small class="username-help" id="username-help">Project Report Communicated to Ejido & SIL.</small>
    </div>
</div>