<div class="grid">
    <div class="col-12">
 <small>Planning</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Verification Kick Off Meeting Done</label>
        </p-floatlabel>
    </div>
</div>

<div class="grid">
    <div class="col-12">
 <small>Execution</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Onsite/Desk Verification Finished</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Response to Findings Submitted</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Verification Report issued by Verifier Sent to CAR</label>
        </p-floatlabel>
    </div>
</div>
