<div class="grid">
    <div class="col-12">
        <small>Feasibility</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Carbon Feasibility Requested</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">PIN Approved</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">LoI Signed</label>
        </p-floatlabel>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <small>Technical Due Diligence</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Technical Dictum Assessment Approved</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Updated PIN Approved</label>
        </p-floatlabel>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <small>Project Approval</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">DD Pack Sent to Mercuria</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Informal Assembly to Present Project Done</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">DD Pack Approved by Mercuria</label>
        </p-floatlabel>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <small>Legal KYC</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">KYC  Sent to Mercuria</label>
        </p-floatlabel>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <small>Transaction Approval</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Assembly for Approval Project  Done</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Assembly for CP Approval Done</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Assembly for Approval </label>
        </p-floatlabel>
         <small class="username-help" id="username-help"> Developer Project, Aggregation & Aggregator Done.</small>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <small>Contracting</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">ERPA Contract Signed</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker  styleClass="w-full"inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Developer & Aggregator Contract Signed</label>
        </p-floatlabel>
    </div>
</div>