<p-card class="col-12">
    <p class="font-bold pb-3">Legal</p>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">Legal lead</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">Legal DD Status</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">LOI Signed Date</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">KYC Completed?</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">CB Requested to RAN date</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">CB Completed?</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">ERPA Signed Date</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Buyer</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Project aggregator</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Project Developer</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">Project Coordinator</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">Project Coordinator Term</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
                <label for="over_label">KYC to ME Submission Date</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <p-select inputId="over_label" [options]="state" optionLabel="name" styleClass="w-full" />
                <label for="over_label">ME KYC Status</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
            <p-floatlabel>
                <input pInputText type="text" />
                <label for="over_label">KYC</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <textarea pTextarea id="over_label" rows="3" class="w-full"></textarea>
                <label for="over_label">Specific Conditions Prescendent</label>
            </p-floatlabel>
        </div>
        <div class="col-12 md:col-12">
            <p-floatlabel>
                <textarea pTextarea id="over_label" rows="3" class="w-full"></textarea>
                <label for="over_label">Notes Legal Team</label>
            </p-floatlabel>
        </div>
    </div>
</p-card>

<div class="flex justify-content-center flex-wrap">
    <div class="col-3">
        <p-button styleClass="w-full" class="col-4" label="Save" [rounded]="true" />
    </div>
</div>