<div class="grid">
    <div class="col-12">
        <small>Execution</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">CAR Project Review Started</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">CAR Project Review Finished</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Ejidal Assembly to Agree Benefits </label>
        </p-floatlabel>
        <small class="username-help" id="username-help"> Distribution & Settlement Done.</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Project Registration Finished</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Issuance Started</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Issuance Ended</label>
        </p-floatlabel>
    </div>
</div>