<div class="grid">
   <div class="col-12">
        <small>Execution</small>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Settlement Started</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Payment Made to Ejido</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Transfer of OPEX to Mandate Account Done</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Payment Made to Canopia</label>
        </p-floatlabel>
    </div>
    <div class="col-12 md:col-4">
        <p-floatlabel>
            <p-datepicker styleClass="w-full" inputId="over_label" showIcon iconDisplay="input" />
            <label for="over_label">Settlement Ended</label>
        </p-floatlabel>
    </div>
</div>